= form_for( :marked_problems , url: marked_problems_path, remote: true, html: {id: "solve_later_#{problem.id}"}) do |f|
  = f.hidden_field :problem_id , value: problem.id
  = link_to 'Solve later?', '#', {:remote => true, :onclick=>"$('form#solve_later_#{problem.id}').submit()"}