<h1>Marked Problems</h1>

<table>
    <tr>
        <th>ID</th>
        <th>S</th>
        <th>Name</th>
        <th>Code</th>
    </tr>

    <% @problems.each do |problem| %>
    <tr>
        <td><%= problem.id %></td>
        <td id="problem_<%= problem.id%>"> <%= problem_status problem %> </td>
        <td><%= link_to problem.name , problem %></td>
        <td><%= problem.code %></td>
    </tr>
    <% end %>
</table>

