<h1>Problems List</h1>

<table>
    <tr>
        <th>ID</th>
        <% if signed_in?  %>
        <th>S</th>
        <% end %>
        <th>Name</th>
        <th>Code</th>
    </tr>

    <% @problems.each do |problem| %>
    <tr>
        <td><%= problem.id %></td>
        <% if signed_in? %>
            <td id="problem_<%= problem.id%>_status"><% if has_marked? problem %>
                    <%= problem_status problem %>
                <% else %>
                    <%= form_for( :marked_problems , 
                        url: marked_problems_path,
                        remote: true) do |f| %>
                        <%= f.hidden_field :problem_id , value: problem.id %>
                        <%= f.submit "Mark" %>
                    <% end %>
                <% end %>
            </td>
        <% end %>
        <td><%= link_to problem.name , problem %></td>
        <td><%= problem.code %></td>
    </tr>
    <% end %>
</table>

<br />

<%= link_to 'New Problem', new_problem_path %>
