<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @problem.code %>
</p>

<p>
  <b>Name:</b>
  <%= @problem.name %>
</p>

<p>
  <b>Description:</b>
  <%= @problem.description %>
</p>

<p>
  <b>Input format:</b>
  <%= @problem.input_format %>
</p>

<p>
  <b>Output format:</b>
  <%= @problem.output_format %>
</p>

<% if signed_in? %>
    <div id="problem_status">
        <% if has_marked? @problem %>
            <p><b>Status:</b>
                <span id="problem_<%= @problem.id %>_status"><%= problem_status @problem %></span>
            </p>
            <%= form_for(:marked_problem, url: marked_problem_path(@problem.id), remote: true, method: :put) do |f| %>
                <%= f.submit "Solve" %>
            <% end %>
        <% else %>
            Link to create
        <% end %>
    </div>
<% end %>

<%= link_to 'Back', problems_path %>
