.post
    %h2.title User Information
    .entry
        %table
            %tr
                %td Username
                %td= @user.username
            %tr
                %td Email
                %td= @user.email
            - if signed_in? && current_user.admin?
                %tr
                    %td Administrator
                    %td= check_box_tag "", @user.admin, @user.admin , disabled: true
            %tr
                %td
                %td
    .byline
        %p.meta Signed up on #{@user.created_at}
        %p.links
            = link_to 'Edit', edit_user_path(@user)
            - if signed_in? && current_user.admin?
                = "    |    "
                = link_to 'Back' , users_path
